
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.admin-container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.sidebar {
    width: 220px;
    background: #1f2937;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}


.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    padding: 12px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar-menu li:hover {
    background: #374151;
}

.sidebar-menu a {
    text-decoration: none;
    color: white;
    display: block;
}


.main-content {
    flex: 1;
    margin-left: 220px; 
    padding: 40px;
    background: #f4f4f4;
}


.main-content h1 {
    text-align: center;
    margin-bottom: 25px;
}


.main-content input[type="text"] {
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

.main-content input[type="text"]:focus {
    border-color: #ff8c2b;
    box-shadow: 0 0 5px rgba(255,140,43,0.4);
}

.main-content input::placeholder {
    color: #888;
}


.booking-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /* center table */
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.booking-table th {
    background: #1f2937;
    color: white;
    padding: 14px;
    text-align: center;
}


.booking-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: center;
    color: black;
}


.booking-table tr:nth-child(even) {
    background: #f9fafb;
}


.booking-table tr:hover {
    background: #f1f5f9;
}

@media (max-width: 768px) {

    .sidebar {
        width: 180px;
    }

    .main-content {
        margin-left: 180px;
        padding: 20px;
    }

    .booking-table {
        font-size: 12px;
    }

    .main-content input[type="text"] {
        width: 90%;
    }
}