
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.addbook-container{
    display:flex;
    min-height:100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.addbook-sidebar{
    width:240px;
    background:#1e293b;
    color:white;
    padding:30px 20px;
    position:fixed;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.addbook-logo{
    font-size:24px;
    font-weight:bold;
    margin-bottom:40px;
}


.addbook-menu{
    list-style:none;
    width:100%;
}

.addbook-menu li{
    text-align:center;
    padding:14px;
    margin-bottom:12px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.addbook-menu li a{
    text-decoration:none;
    color:white;
    font-size:16px;
    display:block;
}


.addbook-menu li:hover{
    background:#334155;
}

.addbook-menu .active{
    background:#475569;
}


.addbook-main{
    flex:1;
    margin-left:240px;
    background:#f1f5f9;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}


.addbook-title{
    font-size:28px;
    margin-bottom:25px;
}


.addbook-form-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
}

.addbook-form{
    background:white;
    padding:35px;
    border-radius:12px;
    width:350px;
    display:flex;
    flex-direction:column;
    gap:15px;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
}

.addbook-form input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
    transition:0.3s;
}



.addbook-form button{
    padding:12px;
    background:#ff8c2b;
    border:none;
    border-radius:6px;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.addbook-form button:hover{
    background:#e6761d;
}

@media(max-width:768px){
    .addbook-sidebar{
        width:180px;
    }

    .addbook-main{
        margin-left:180px;
    }

    .addbook-form{
        width:90%;
    }
}